@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 6px;
	height: 8px;
}
.contentContainer::-webkit-scrollbar,
.contentDesc::-webkit-scrollbar {
	display: none;
}

body::-webkit-scrollbar-track {
	background: #11141C;
}

body::-webkit-scrollbar-thumb {
	border-radius: 100vh;
	background: #3f51b5;
}

body::-webkit-scrollbar-thumb:hover {
	background: #3748a5;
}
